/* -----------------------Colors--------------------- */
/* 
#025920
#F2E74B
#465D3C
 */

/* ---------------------general styles----------------- */
body {
    font-family: "Varela Round", sans-serif;
    line-height: 1.5;
}

h1 {
    font-size: 3rem;
    font-weight: 800;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2rem;
}

h3 {
    font-size: 1.1rem;
    font-weight: 700;
}
p {
    font-size: 1rem;
    font-weight: 400;
}

li {
    list-style: none;
}

figcaption {
    font-size: 0.9rem;
}

@media (min-width: 50em) {
    h1 {
        font-size: 4.5rem;
        font-weight: 900;
    }

    h2 {
        font-size: 2.4rem;
        margin-bottom: 3rem;
    }

    h3 {
        font-size: 2rem;
    }

    p {
        font-size: 1.5rem;
        font-weight: 500;
    }

    figcaption {
        font-size: 1.4rem;
    }
}

/* --------------------------Links------------------------ */
a {
    text-decoration: none;
    color: black;
}
a:visited {
    color: black;
}

a:hover {
    background-color: #d0f0c0;
}

a:focus {
    border: 0.1rem solid black;
}

/* -------------------------Form-------------------------- */
form {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    width: 70%;
    align-items: center;
    margin: 0 auto;
}

label,
input,
textarea {
    display: block;
}

@media (min-width: 50em) {
    form {
        width: 100%;
    }
    label,
    input,
    textarea {
        width: 30rem;
    }
}
/* --------------------------Header----------------------- */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 0.5rem;
}
header p {
    z-index: 999;
}

header img {
    width: 2.5rem;
    height: 2.5rem;
}
#menu-toggle {
    border: 0;
    background-color: white;
}

/* #nav-menu {
    display: none;
    height: 0;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0.5rem;
    transition: height 0.5s ease;
}

#nav-menu.toggled {
    display: block;
    position: absolute;
    text-align: right;
    top: 2.79rem;
    height: 6.5rem;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 200;
    background-color: white;
} */

#nav-menu {
    position: fixed;
    right: -100%;
    top: 1.85rem;
    transition: right 0.3s ease;
    padding: 0 0.3rem;
}

#menu-toggle svg {
    border: 1px;
}

#nav-menu.toggled {
    right: 0;
    background-color: white;
    z-index: 200;
}

#nav-menu li {
    margin-bottom: 0.3rem;
}

@media (min-width: 50em) {
    #menu-toggle {
        display: none;
    }

    #nav-menu {
        display: flex;
        gap: 0.5rem;
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.3rem;
    }

    #nav-menu a {
        font-size: 1.4rem;
        padding: 0.4rem 0.8rem;
        /* border: 0.1rem solid black; */
        border-radius: 5%;
    }

    header img {
        width: 4rem;
        height: 4rem;
    }
}

/* ------------------------Hero Section------------- */
.hero {
    position: relative;
}

/* -------------------------Footer------------------- */
footer {
    display: flex;
    padding: 1rem 0.5rem;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    background-color: #d0f0c0;
    font-size: 1rem;
}
.icons {
    display: flex;
    gap: 0.5rem;
}

.icons-copy-right {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.icons-copy-right p {
    margin: 0;
}

.footer-nav ul {
    margin: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

@media (min-width: 50em) {
    footer {
        padding: 2rem 1.5rem;
        font-size: 1.2rem;
    }
    footer p {
        font-size: 1.2rem;
    }
    .icons {
        gap: 1rem;
    }

    .icon {
        width: 3rem;
        height: 3rem;
    }
}
