/* -----------------------Colors--------------------- */
/* 
-#025920
 */

/* ---------------------general styles----------------- */
body {
    font-family: "Varela Round", sans-serif;
    line-height: 1.5;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2rem;
}

p {
    font-size: 1rem;
    font-weight: 400;
}

li {
    list-style: none;
}

/* --------------------------Links------------------------ */
a {
    text-decoration: none;
}

/* --------------------------Header----------------------- */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 0.5rem;
}
header p {
    z-index: 999;
}
#menu-toggle {
    border: 0;
    background-color: white;
}

#nav-menu {
    display: none;
    height: 0;
    overflow: hidden;
    padding-left: 0;
    transition: height 0.5s ease;
}

#nav-menu.toggled {
    display: block;
    position: absolute;
    text-align: right;
    top: 2.5rem;
    height: 6.5rem;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 200;
    background-color: white;
}

#nav-menu li {
    margin-bottom: 0.5rem;
}
