/* ---------------------general styles----------------- */
body {
    font-family: "Varela Round", sans-serif;
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 1.5rem;
}

li {
    list-style: none;
}

/* --------------------------Links------------------------ */
a {
    text-decoration: none;
}

/* --------------------------Header----------------------- */
header {
    display: flex;
    justify-content: center;
}

#nav-menu {
    display: none;
}

#nav-menu.toggled {
    display: block;
}

/* ---------------------------Main------------------------- */

/* ------------------Hero-Section----------------- */
.hero-section {
    position: relative;
}

.hero-img {
    height: 20rem;
    width: 100%;
    object-fit: cover;
}
h1 {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin: 0 auto;
    width: 40%;
    text-align: center;
    background-color: white;
}
