/* index.html
 -------------------------------------------------------*/

/* ---------------------general styles----------------- */
body {
}

h1 {
}

p {
}

li {
}

/* --------------------------Links------------------------ */
a {
}

/* ---------------------------Main------------------------- */

/* ------------------Hero-Section----------------- */
.hero-section {
    position: relative;
}

.hero-img {
    height: 15rem;
    width: 100%;
    object-fit: cover;
}
h1 {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5%;
    margin: 0 auto;
    width: 40%;
    text-align: center;

    /* background-color: white; */
}

/* ---------------------Testimonial-Section--------------- */
.testimonial-section img {
    width: 10rem;
    border-radius: 70%;
}
